{# templates/pet/list-pet.html.twig #}
<h1>List of all <b>PETS</b></h1>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Breed</th> 
        <th>Owner</th>
        <th>Action</th>
    </tr>
    {% for pet in pets %}
        <tr>
            <td>{{pet.name}}</td>
            <td>{{pet.breed}}</td> 
            <td>{{pet.owner.userName}}</td>
            <td>
                <a href={{ path('pet_remove', {'id':pet.id}) }}>Delete</a>
                <a href={{ path('pet_edit', {'id':pet.id}) }}>Edit</a>
            </td>
        </tr>
    {% else %}
        <h4>Nada encontrado</h4>
    {% endfor %}
    </table>